<form method="post" action="{{ path('blocs_cms_delete', {'id': blocs_cm.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blocs_cm.id) }}">
    <button class="btn">Delete</button>
</form>
